 body{
    background-image: linear-gradient(to left, royalblue, darkblue);
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}
p {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 5px 10px 5px black;
    transform: scale(80%);
    background-image: linear-gradient(to left, blue, darkblue);
    opacity: 70%;
}
p:hover{
    transform: scale(100%);
    opacity: 100%;
    transition: 0.6s;
    color: antiquewhite;
    border-radius:  15px;
    
}


    

h1 {
    padding: 9px 20px 20px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 5px black;
    background-image: linear-gradient(to left, darkblue, royalblue);
    color: aquamarine;
}
nav {
    width: 50%;
    height: 1%;
    background-color: royalblue;
    border: solid 3px black;
    text-align:  center;
    color: aliceblue;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.macroelements {
    position: relative;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.microelements {
    position: relative;
    top: -56px;
    left: 51%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    border-radius:100px;
    position: relative;
    top: -40px;
    padding: 15px 20px 15px 13px;
    text-align: center;
    box-shadow: 0 5px 10px 5px black;
    background-image: linear-gradient(to left, darkblue, blue);
    color: dark ;
}
img {
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    padding: 15px 15px 15px 17px;

}
.calcium {
  font-size: 25px ;
  text-align: center;
  position: relative;
  left: 60px;
  opacity: 0.5;
  transform: scale(80%);
}

.calcium:hover{
    transform: scale(80%);
    opacity: 100%;
    transition: 0.6s;
    color: antiquewhite;
    border-radius:  15px;

}
.calcium img {
    position: relative;
    left: 20%;
}





.magnium{
    transform: scale(80%);
    position: relative;
    top: -30px;
    right: 60px;

    
}
.magnium img {
    position: relative;
    left: 21%;
}
.magnium:hover {
    transform: scale(80%);
}
.kalium {
  font-size: 25px ;
  text-align: center;
  position: relative;
  left: 60px;
  top: -60px;
  opacity: 0.5;
  transform: scale(80%);
}
.kalium:hover {
    transform: scale(80%);
    opacity: 100%;
    transition: 0.6s;
    color: antiquewhite;
    border-radius:  15px;

}
.kalium img {
    position: relative;
    left: 21%;
}
.natrium {
  font-size: 25px ;
  text-align: center;
  position: relative;
  left: -60px;
  top: -60px;
  opacity: 0.5;
  transform: scale(80%);
    
}
.natrium:hover {
    transform: scale(80%);
    opacity: 100%;
    transition: 0.6s;
    color: antiquewhite;
    border-radius:  15px;
}
.natrium img {
    position: relative;
    left: 21%;
}
.phosfor {
  font-size: 25px ;
  text-align: center;
  position: relative;
  left: 60px;
  top: -60px;
  opacity: 0.5;
  transform: scale(80%);
    
}
.phosfor:hover {
    transform: scale(80%);
    opacity: 100%;
    transition: 0.6s;
    color: antiquewhite;
    border-radius:  15px;
}
.phosfor img {
    position: relative;
    left: 21%;

}


